body {
    font-family: 'Arimo';
    background-color: #f4f4f4;
}

.ms-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 13%;
    padding: 50px;
    border: none;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
}

.ms-label {
    font-weight: 800;
}

.ms-input {
    margin: 10px 0 25px 0;
    border: 1px solid;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #d4d4d4;
    width: 96%;
}

.ms-input:focus {
    outline: none;
    border: 1px solid #f46f3a;
}

.submit-button {
    padding: 10px;
    background-color: #f46f3a;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    width: 100%;
    margin-top: 25px;
}

.submit-button:hover {
    cursor: pointer;

}
